<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>High Low</title>
</head>
<body>
    <h1>Welcome to the High Low Game!</h1>
    <br>
    <h2>I am thinking of a number between 1 and 100</h2>
    <h2>Take a guess!</h2>

    <form action="/guess">
        <input type="text" value="">
    </form>
    <form action="/reset">
        <input type="submit" value="Submit">
    </form>
    {{message}}
</body>
</html>
